/*
 * html5doctor.com Reset Stylesheet
 * v1.4.1
 * 2010-03-01
 * Author: Richard Clark - http://richclarkdesign.com
 * */

/*全ページ共通*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } body { line-height:1; } article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary { display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; } ins { background-color:#ff9; color:#000; text-decoration:none; } mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; } table { border-collapse:collapse; border-spacing:0; } hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; } input, select { vertical-align:middle; }

a{
 text-decoration:none;
 color:#000000;
}

div.clr{
 clear:both;
}

span.yen{
 font-size:0.5em;
}

body{
 color:black;
 min-width:1000px;
 margin:0;
 padding:0;
 }

*{
 font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","sans-seriff";
}

ul{
 list-style:none;
}

div#header{
 width:1000px;
 margin:0 auto;
 padding:10px 100px;
 background-color:#FFFFFF;
 position:fixed;
 top:0;
 left:0;
 right:0;
 z-index:1;
}

div.naviBar{
 margin-top:35px;
}

div.naviBar ul {
 overflow  :hidden;
 text-align:center;
 list-style:none;
}

div.naviBar ul li{
 float  :left;
 border-right    :1px solid #DCDCDC;
 width     :150px;
 text-align:center;
 display   :block;
 padding   :4px 0 0 0 ;
 font-size :1.0em;
}

div#footer div.kindBox ul{
 overflow  :hidden;
 text-align:center;
 list-style:none;
}

div#footer div.kindBox ul li{
 float  :left;
 border-right    :1px solid #DCDCDC;
 width     :100px;
 text-align:center;
 display   :block;
 padding   :4px 0 0 0 ;
 font-size :0.8em;
 margin    :10px 0px;
}

div#copyright p{
 margin:10px;
 text-align:center;
 font-size :0.8em;
}

div.socialSpace{
 float:right;
}

div.socialSpace ul li{
 float:left;
}

div.socialSpace ul li span{
 margin:0 1px;
}

div#wrapper
{
 width:1000px;
 margin:10px auto;
 padding:87px 0 0 0;
}

div#titleSpace{
}

div#titleSpace h1{
 font-size:8px;
}

div.logoSpace{
 width:150px;
 float:left;
}

div.logoSpace img{
 width:100%;
}

div.storeInfo{
 float:right;
}

div.storeInfo img{
 width:100%;
}

div.col1{
 width:100%;
 margin:0 0 0 0;
 border-top:1px solid #DCDCDC;
 border-left:1px solid #DCDCDC;
 border-right:1px solid #DCDCDC;
}

div.col2{
 width:50%;
 float:left;
}

div.col3{
 width:25%;
 float:left;
}

div.col1 img{
 width:100%;
}

h2{
 font-size:24px;
 line-height:1.5;
}

h3{
 font-size:16px;
 line-height:1.5;
}

table th{
 background-color:#EDE4D3;
 border:1px solid #DCDCDC;
 padding:8px 3px;
}

table td{
 background-color:white;
 border:1px solid #DCDCDC;
 padding:5px 3px;
}

div.rdiv{
 margin:5px;
 padding:10px;
 border:1px solid #DCDCDC;
 border-radius: 15px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
}

ul.haitatuarea{
 list-style:none;
}

ul.haitatuarea li{
 display:block;
 float:left;
 width:40%;
}


/*マウスホバーで色を変える*/
table tr.tHover td{
 background-color:#fff4f8;
 cursor:pointer;
}

/*tirasi.php*/
div.daylist{
 width:1000px;
 position:fixed;
 padding:0 0 0 150px;
 background-color:#FFFFFF;
 cursor:pointer;
}

div.daylist ul{
 list-style:none;
}

div.daylist ul li{
 display:inline-block;
 font-size:14px;
 border:1px solid #DCDCDC;
 margin:0 2px;
 padding:10px 3px;
}

div.grptitle{
 margin:10px 0;
}

div.grptitle h2{
 background-color:red;
 color:white;
}

div.grplist{
 width:150px;
 float:left;
 padding:40px 0 0 0;
 position:fixed;
 cursor:pointer;
}

div.grplist ul{
 list-style:none;
}

div.grplist ul li{
 font-size:14px;
 border:1px solid #DCDCDC;
 margin:2px 2px;
 padding:10px 10px;
}

div.items{
 width:840px;
 margin:30px 0 0 150px;
 float:left;
}

div.flyers{
 width:100%;
}

div.sidea,
div.sideb
{
 width:45%;
 float:left;
 margin:10px;
 border:1px solid #DCDCDC;
}

div.sidea img,
div.sideb img
{
 max-width:100%;
}
div.itemdiv{
 width:180px;
 height:370px;
 border:1px solid #DCDCDC;
 float:left;
 margin:2px;
}

div.itemimg{
 width:180px;
 height:240px;
}

div.itemimg img{
 width:100%;
 max-height:100%;
}

div.itemdetail{
 height:100px;
 padding:0 0 0 5px;
}

div.itemdetail span{
 display:block;
 height:1.1em;
 overflow:hidden;
}

span.maker{
 overflow:hidden;
}

span.sname{
 font-size:20px;
}

span.tani{
 width:50%;
 float:left;
}

span.stdprice{
 width:100%;
 height:2.4em;
 font-size:14px;
 text-align:right;
 float:left;
}

span.price{
 width:90%;
 height:2.4em;
 color:red;
 font-size:28px;
 float:left;
 text-align:right;
}

span.yen{
 height:2.4em;
 font-size:16px;
 color:red;
 padding:8px 0 0 0 ;
 float:left;
}

span.comment{
 width:160px;
 font-size:12px;
 height:2em !important;
 overflow:hidden;
}

.hoverColor{
 background-color:#FFD889;
 color:#213283;
}

div.item{
 width:1000px;
 margin:30px 0 0 0;
}

div.titemdiv{
 width:100%;
 border:1px solid #DCDCDC;
 z-index:-1;
}

/*tirasi.php*/

/*saleitem.php*/
div#slideFl{
 float:left;
}

div.titemdetail{
 width:450px;
 padding:0 10px;
 float:right;
}

div.titemdetail span{
 display:block;
 margin:5px 0;
 float:left;
}

span.tgrpname{
 width:390px;
 height:21px;
 font-size:15px;
 overflow:hidden;
 float:left;
 padding:10px 0 0 0;
}

span.tstartday{
 width:120px;
 height:21px;
 font-size:15px;
 overflow:hidden;
 float:left;
 padding:10px 0 0 0;
}

span.tendday{
 width:270px;
 height:21px;
 font-size:15px;
 overflow:hidden;
 float:left;
 padding:10px 0 0 0;
}

span.tmaker{
 width:260px;
 height:31px;
 font-size:24px;
 overflow:hidden;
 float:left;
}

span.ttani{
 width:130px;
 height:21px;
 font-size:15px;
 overflow:hidden;
 float:left;
 padding:10px 0 0 0;
}

span.tsname{
 width:260px;
 height:62px;
 font-size:24px;
 overflow:hidden;
}

span.tstdprice{
 width:130px;
 height:31px;
 font-size:12px;
 overflow:hidden;
 float:left;
 margin:5px 0 0 0 !important;
 text-align:right;
}

span.tprice{
 width:130px;
 height:31px;
 /*padding:8px 0 0 0;*/
 font-size:32px;
 overflow:hidden;
 float:left;
 text-align:right;
 margin:0 0 5px 0 !important;
 color:#a52a2a;
 font-weight:bold;
}

span.tyen{
 margin:15px 0 0 0 !important;
 color:#a52a2a;
}

span.tcomment{
 width:390px;
 height:62px;
 overflow:hidden;
}
/*tirasiitem.php*/

/*calendar.php*/
div.caldiv{
 width:30%;
 border:1px solid #DCDCDC;
 padding:10px 0 0 50px;
}

div.caldiv span{
 display:block;
 height:1.2em;
}

span.cmaker{
 font-size:24px;
}

span.csname{
 font-size:48px;
 overflow:hidden;
}

span.ctani{
 font-size:18px;
 width:45%;
 float:left;
}

span.cprice{
 font-size:72px;
 color:red;
 float:left;
 font-weight:bold;
}

span.cyen{
 font-size:24px;
 color:red;
 float:left;
 margin-top:38px;
}

table.caltable{
 width:100%;
 table-layout:fixed;
}

td span{
 display:block;
}

span.hi{
 width:100%;
}

span.dgrpname{
 width:100%;
 height:2.2em;
 overflow:hidden;
 font-size:24px;
 margin:5px 0 0 0;
}

span.dprice{
 float:left;
 font-size:32px;
 color:red;
 margin:0 0 0 55px;
}

span.dyen{
 color:red;
 margin:12px 0 0 0;
}
/*calendar.php*/

/*menu.php*/
div.tablearea table td>span{
 cursor:pointer;
}
/*menu.php*/

/*gotyumon.php*/
div.notice{
 float:right;
 width:840px;
 margin:30px 0 0 150px;
}
/*gotyumon.php*/

